@use "../modules/variable";
// function
@mixin addFont($fontName,$url){
    @font-face{
        font-family: $fontName;
        src: url($url)
    }
}
@mixin boxCompanyResponsive($direction) {
    width:100%;
    min-height: 500px;
    height:auto;
    flex-direction: $direction;
    margin-bottom: 50px;
    .img-box-company {
        margin-bottom: 50px;
        flex-basis:100%;
        width: 100%;
        max-width:100% ;
        display: flex;
        align-items: center;
        img{
            max-width: 100%;
            flex-basis: 100%;
            max-height: 100%;
            min-height: 700px;
            flex: 1;
        }
    }
    .text-box-company {
        flex-basis: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        padding: 0 5%;
    }
}
@mixin boxCompanyResponsiveMobile($direction) {
    width:100%;
    min-height: 500px;
    height:auto;
    flex-direction: $direction;
    margin-bottom: 50px;
    .img-box-company {
        margin-bottom: 50px;
        flex-basis:100%;
        width: 100%;
        max-width:100% ;
        display: flex;
        align-items: center;
        img{
            max-width: 100%;
            flex-basis: 100%;
            max-height: 100%;
            min-height: 100%;
            background-position: center center;
            flex: 1;
        }
    }
    .text-box-company {
        flex-basis: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        padding: 0 5%;
    }
}
@mixin boxCompany($start,$height){
    width:100%;
    height:$height;
    justify-content: $start;
    column-gap: 2%;
    .img-box-company {
        flex-basis: 48%;
        max-width:48% ;
        display: flex;
        align-items: center;
        img{
            max-width: 100%;
            min-width: 100%;
            flex-basis: 100%;
            min-height: 100%;
            max-height: 100%;
            flex: 1;
        }
    }
    .text-box-company {
        flex-basis: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        h4{
            color:variable.$colorDark;
            font-size: 33px;
            font-family: variable.$font2; 
            text-transform: uppercase;
            font-weight: bold;
            text-shadow: 0 0 1px variable.$colorDark;
            letter-spacing: 2px;
        }
        p{
            color:variable.$colorTextCompany;
            font-size: 16px;
            font-family: variable.$font1;
        }
    }
    
}

@mixin titleSmall($align) {
    color:variable.$colorDark;
    font-size: 33px;
    font-family: variable.$font2; 
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 0 1px variable.$colorDark;
    letter-spacing: 2px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: $align;
}
@mixin titleSmallResponsive($align) {
    color:variable.$colorDark;
    font-size: 25px;
    font-family: variable.$font2; 
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 0 1px variable.$colorDark;
    letter-spacing: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: $align;
}
// function