@use "../modules/variable";
@use "../modules/mixin";

// body
// company
.body-company{
    width:100%;
    height:auto;
    h2{
        font-size: 60px;
        font-weight: bold;
        font-family: variable.$font2;
        color:variable.$colorOrange;
    }
    .box-about{
       @include mixin.boxCompany(flex-start,500px);
    }
    .box-mission{
       @include mixin.boxCompany(flex-end,600px);
       .mission-list{
        width: 100%;
        span{
            font-size: 25px;
            color:variable.$colorOrange;
            padding-right: 25px;
        }
       }
    }
    .box-business{
        @include mixin.boxCompany(flex-start,500px);
     }
}
// company
// milestone
.body-milestone{
    width:100%;
    height: 600px;
    background-image: url("/assets/img/body/milestone/bg.png");
    background-size: cover;
    margin-bottom: 100px;
    h4{
        @include mixin.titleSmall(center);
    }
    .box-list-icon{
        width: 80%;
        height:180px;
        justify-content: space-between;
        padding: 0;
        .wrap-box-icon{
            height:100%;
            flex-direction: column;
            .box-list-head{
                flex-direction: column;
                .bullet-icon{
                    width:100px;
                    height:100px;
                    background-color: white;
                    border-radius: 50%;
                    i{
                        color:variable.$colorOrange;
                        font-size: 50px;
                    }
                }
                .active-icon{
                    background-color: variable.$colorOrange;
                    i{
                        color:white;
                        font-size: 50px;
                    }
                }
                p{
                    margin: 0;
                    width: 100%;
                    background-color: white;
                    text-align: center;
                    border-radius: 10px;
                    font-size: 21px;
                    color:variable.$colorDark;
                    font-family: variable.$font2; 
                    font-weight: bold;
                }
                .bullet-mobile{
                    display: none;
                    i{
                        display: none;
                    }
                }
            }
            .box-list-main{
                display: none;
            }
            
        }
    }
    .box-text-milistone{
        margin-top: 30px;
        border-radius: 20px;
        width: 80%;
        height:200px;
        background-color: white;
        padding: 0 2%;
        display: flex;
        align-items: center;
        p{
            text-align: center;
            border-radius: 10px;
            font-size: 21px;
            color:variable.$colorTextCompany;
            font-family: variable.$font1; 
            font-weight: bold;
        }
    }
}
// milestone
// galery
.body-galery{
    width:90%;
    min-height: 600px;
    height: auto;
    margin:auto 5%;
    margin-bottom: 100px;
    padding: 5% 0;
    .mobile-galery{
        display: none;
     }
    .slide-galery{
        width:100%;
        min-height: 600px;
        height:auto;
    }
    h4{
        @include mixin.titleSmall(start);
        margin-left:5%;
    }
    .box-slide{
        min-height: 600px;
        height:auto;
        width: 95%;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 2%;
        img{
            width:32%;
            max-height: 100%;
            min-height: 100%;
            margin-bottom: 2%;
        }
    }
    .indicator-list-bullet{
        margin-bottom: -50px;
    }
    .btn-slide-side{
        border: none;
        font-size:40px;
        color: variable.$colorOrange;
        transition: 0.6s;
        padding: auto 5%;
    }
    .btn-slide-side:hover{
        transform:scale(1.2);
    }
    .bullet-slide{
        background-color: variable.$colorOrange;
        width:20px;
        height:20px;
        border-radius: 50%;
        margin: 10px;
    }
}
// galery
// value
.body-value{
    width: 100%;
    height:680px;
    background-color: #e6e6e6;
    overflow: hidden;
    margin-bottom: 50px;
    h2{
        font-size: 60px;
        font-weight: bold;
        font-family: variable.$font2;
        color:variable.$colorOrange;
    }
    .box-value-list{
        width: 200%;
        height: 450px;
        transition: 0.8s;
        .box-section-value{
            width: 15%;
            background-color: white;
            border-radius: 20px;
            box-shadow: 0 0 5px 0.5 variable.$colorDark;
            height: 450px;
            margin-right:1%;
            i{
                font-size: 30px;
                color:variable.$colorOrange;
            }
            h4{
                @include mixin.titleSmall(start);
                padding:0;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            p{
                font-size: 16px;
                font-family: variable.$font2;
                color:variable.$colorTextCompany;
            }
            .text-value-active{
                color:variable.$colorOrange;
            }
        }
    }
    .slide-click-btn{
        width:100%;
        margin:20px 0;
        height: 15px;
        box-shadow: 0 0 5px 0.5 variable.$colorDark;
        display: flex;
        .btn-value{
            width:50%;
            height: 100%;
            border: none;
            background-color: white;
            cursor: pointer;
            transition: ease 0.5s;
        }
        
        .btn-active-value{
            background-color: variable.$colorOrange;
        }
        .btn-value:hover{
            opacity: 0.5;
            background-color: variable.$colorOrange;
        }
    }

   
}
// value
// testimoni
.body-testimoni{
    height: 600px;
    width: 100%;
    img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    h5{
        font-size: 20.83;
        font-family: variable.$font2;
        text-transform: uppercase;
        font-weight: bold;
        color:black;
        span{
            color:variable.$colorTextCompany;
            font-weight: 100;
        }
        .position{
            color:variable.$colorOrange;
            font-weight: bold;
        }
    }
    p{
        text-align: center;
        font-weight:600;
        width: 60%;
        font-size: 18px;
        color:variable.$colorTextCompany;
        font-family: variable.$font1;
    }
    i{
        font-size:35px;
        color:variable.$colorOrange;
        font-weight: bold;
    }
}
// testimoni
// career
.body-career{
    background-color: #f1f1f1;
    width: 100%;
    min-height:850px;
    margin-bottom: 50px;
    padding:70px;
    .info-career{
        h2{
            font-size: 60px;
            font-weight: bold;
            font-family: variable.$font2;
            color:variable.$colorOrange;
        }
        img{
            width:90%;
            height: 500px;
        }
        p{
            font-size: 16px;
            color:variable.$colorTextCompany;
            font-family: variable.$font1;
            font-weight: bold;
        }
        h4{
            font-size: 36px;
            color:black;
            text-transform: uppercase;
            font-family: variable.$font2;
            font-weight: bold; 
            text-shadow: 0 0 2px solid black;
        }
    }
    .form-career{
        padding-top: 100px;
        .label-form-text{
            font-size: 16px;
            color:variable.$colorTextCompany;
            font-family: variable.$font1;
            font-weight: bold;
            text-transform: uppercase;
        }  
        select{
            text-transform: uppercase;
            overflow: hidden;
            
        } 
        .input-form-style{
            border:none;
            box-shadow: 0 0 2px 0.5 variable.$colorTextCompany;
            font-size: 16px;
            color:variable.$colorTextCompany;
            font-family: variable.$font1;
            font-weight: bold;
            resize: none;
            background-color: white;
            
            option{
                border:none;
                box-shadow: 0 0 2px 0.5 variable.$colorTextCompany;
                font-size: 16px;
                color:variable.$colorTextCompany;
                font-family: variable.$font1;
                font-weight: bold;
            }
        }
        .btn-form-career{
            width: 25%;
            height:40px;
            font-size: 16px;
            font-family: variable.$font1;
            text-align: center;
            background-color:variable.$colorOrange;
            color:white;
            border:none;
            border-radius: 5px;  
            transition: ease 0.6s;
        }
        .btn-form-career:hover{
            transform: scale(1.05);
        }
        .file-style{
            width:70%;
            height: 40px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        .input-btn-file{
            width:30%;
            height: 40px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            font-size: 16px;
            font-family: variable.$font1;
            background-color:variable.$colorOrange;
            color:white;
            cursor: pointer;
            transition: ease 0.6s;
        }
        .input-btn-file:hover{
            transform: scale(1.05);
        }
    }
}
// career
// contact
.body-contact{
    height: 450px;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    .contact-form{
        flex:1;
        height:450px;
        width: 50%;
        h2{
            font-size: 60px;
            font-weight: bold;
            font-family: variable.$font2;
            color:variable.$colorOrange;
        }
        p{
            font-size: 16px;
            color:variable.$colorTextCompany;
            font-family: variable.$font1;
            text-shadow: 0 0 1px black;
        }
        form{
            input,textarea{
                border:none;
                box-shadow: 0 0 2px variable.$colorTextCompany;
                font-size: 16px;
                text-shadow: 0 0 1px black;
                color:variable.$colorTextCompany;
                font-family: variable.$font1;
                resize: none;
                background-color: white;
            }
            button{
                width: 100%;
                height:40px;
                font-size: 16px;
                font-family: variable.$font1;
                text-align: center;
                background-color:variable.$colorOrange;
                color:white;
                border:none;
                border-radius: 5px;
                transition: ease 0.6s;
            }
            button:hover{
                transform: scale(1.05);
            }
        }
    }
    
    .contact-img{
        width: 50%;
        padding-left: 5%;
        flex:1;
        display: flex;
        height:450px;
         h2{
            display: none;
            font-size: 60px;
            font-weight: bold;
            font-family: variable.$font2;
            color:variable.$colorOrange;
        }
        img{
            max-width: 100%;
            flex-basis: 100%;
        }
    }
}
// contact
// body

