@use "../modules/variable";
@use "../modules/mixin";

// body
// company
.body-company{
    width:100%;
    height:auto;
    h2{
        font-size: 60px;
        font-weight: bold;
        font-family: variable.$font2;
        color:variable.$colorOrange;
    }
    .box-about{
       @include mixin.boxCompany(flex-start);
    }
    .box-mission{
        padding-top: 50px;
       @include mixin.boxCompany(flex-end);
       .mission-list{
        span{
            font-size: 25px;
            color:variable.$colorOrange;
            padding-right: 25px;
        }
       }
    }
    .box-business{
        @include mixin.boxCompany(flex-start);
     }
}
// company
// milestone
.body-milestone{
    width:100%;
    height: 600px;
    background-image: url("/assets/img/body/milestone/bg.png");
    background-size: cover;
    margin-bottom: 100px;
    h4{
        @include mixin.titleSmall(center);
    }
    .box-list-icon{
        width: 80%;
        height:180px;
        justify-content: space-between;
        padding: 0;
        .wrap-box-icon{
            height:100%;
            .bullet-icon{
                width:100px;
                height:100px;
                background-color: white;
                border-radius: 50%;
                i{
                    color:variable.$colorOrange;
                    font-size: 50px;
                }
            }
            .active-icon{
                background-color: variable.$colorOrange;
                i{
                    color:white;
                    font-size: 50px;
                }
            }
            p{
                margin: 0;
                width: 100%;
                background-color: white;
                text-align: center;
                border-radius: 10px;
                font-size: 21px;
                color:variable.$colorDark;
                font-family: variable.$font2; 
                font-weight: bold;
            }
            
        }
    }
    .box-text-milistone{
        margin-top: 30px;
        border-radius: 20px;
        width: 80%;
        height:200px;
        background-color: white;
        padding: 0 2%;
        p{
            text-align: center;
            border-radius: 10px;
            font-size: 21px;
            color:variable.$colorTextCompany;
            font-family: variable.$font1; 
            font-weight: bold;
        }
    }
}
// milestone
// galery
.body-galery{
    width:90%;
    height: 600px;
    margin-bottom: 100px;
    margin:auto 5%;
    .slide-galery{
        width:100%;
        height: 600px;
    }
    h4{
        @include mixin.titleSmall(start);
        margin-left:5%;
    }
    .box-slide{
        height: 600px;
        width: 95%;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 2%;
        img{
            width:32%;
            margin-bottom: 2%;
        }
    }
    .indicator-list-bullet{
        margin-bottom: -50px;
    }
    .btn-slide-side{
        border: none;
        font-size:40px;
        color: variable.$colorOrange;
        transition: 0.6s;
        padding: auto 5%;
    }
    .btn-slide-side:hover{
        transform:scale(1.2);
    }
    .bullet-slide{
        background-color: variable.$colorOrange;
        width:20px;
        height:20px;
        border-radius: 50%;
        margin: 10px;
    }
}
// galery
// value
.body-value{
    width: 100%;
    height:500px;
}
// value
// body
