// function
@use "../modules/mixin";
@use "../modules/variable";
*{
    margin: 0;
    padding:0;
}

// fonts
@include mixin.addFont("Montserrat",'/assets/fonts/Montserrat-Regular.woff' );
@include mixin.addFont("Oswald",'/assets/fonts/Oswald-Regular.woff' );

// fix button
.fix-button{
    position: fixed;
    width:100px;
    height:auto;
    z-index:10;
    bottom:20px;
    right:2.5%;
    .arrow-btn-up{
        width:50px;
        font-size:30px;
        text-decoration: none;
        color:white;
        border-radius: 50%;
        height:50px;
        background-color: variable.$colorOrange;
        margin: 10px 0;
    }
    .wa-btn{
        width:50px;
        font-size:58px;
        text-decoration: none;
        color:white;
        border-radius: 50%;
        height:50px;
        background-color: green;
        margin: 10px 0;
    }
}
// fix menubar
.menu-bar-fixed{
    width:20%;
    height: 80%;
    position: fixed;
    top:0;
    right:0;
    background-color:variable.$colorDark ;
    transition: ease 0.5s;
    .menu-head{
        width: 100%;
        height: 15%;
        h5{
            font-size:25px;
            color:white;
            cursor: pointer;
            transition: ease 0.5s;
        }
        h5:hover{
            color:variable.$colorOrange;
            transform: scale(1.2);
        }
    }
    .menu-main{
        width: 100%;
        height: 55%;
        a{
            display: block;
            text-decoration: none;
            list-style: none;
        }
        .fix-menu-text{
            font-family: variable.$font1;
            font-weight: bold;
            font-size: 13px;
            margin:20px 12px;
            letter-spacing: 2px;
            color:white;
            text-shadow: 0 0 1px variable.$colorMenubar ;
            transition: 0.5s;
            cursor:pointer;
        }
        .fix-menu-text:hover{
            color:variable.$colorOrange;
        }
    }
    .menu-foot{
        margin-top:5%;
        width: 100%;
        height: 20%;
        p{
            font-family: variable.$font1;
            font-weight: bold;
            font-size: 13px;
            letter-spacing: 2px;
            color:white;
            text-shadow: 0 0 1px variable.$colorMenubar ;
            transition: 0.5s;
        }
                
        .img-list-media{
            img{
                width:20px;
                height:20px;
                border-radius: 7px;
                margin: 5px;
            }
        }
    }
}
// fix menubar