* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Regular.woff");
}
@font-face {
  font-family: "Oswald";
  src: url("/assets/fonts/Oswald-Regular.woff");
}
.fix-button {
  position: fixed;
  width: auto;
  height: auto;
  z-index: 10;
  bottom: 20px;
  right: 2.5%;
}
.fix-button .arrow-btn-up {
  width: 50px;
  font-size: 30px;
  text-decoration: none;
  color: white;
  border-radius: 50%;
  height: 50px;
  background-color: #f05223;
  margin: 10px 0;
}
.fix-button .wa-btn {
  width: 50px;
  font-size: 58px;
  text-decoration: none;
  color: white;
  border-radius: 50%;
  height: 50px;
  background-color: green;
  margin: 10px 0;
}

.menu-bar-fixed {
  width: 20%;
  height: 80%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #333333;
  transition: ease 0.5s;
  z-index: 10;
}
.menu-bar-fixed .menu-head {
  width: 100%;
  height: 15%;
}
.menu-bar-fixed .menu-head h5 {
  font-size: 25px;
  color: white;
  cursor: pointer;
  transition: ease 0.5s;
}
.menu-bar-fixed .menu-head h5:hover {
  color: #f05223;
  transform: scale(1.2);
}
.menu-bar-fixed .menu-main {
  width: 100%;
  height: 55%;
}
.menu-bar-fixed .menu-main a {
  display: block;
  text-decoration: none;
  list-style: none;
}
.menu-bar-fixed .menu-main .fix-menu-text {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 13px;
  margin: 20px 12px;
  letter-spacing: 2px;
  color: white;
  text-shadow: 0 0 1px #272727;
  transition: 0.5s;
  cursor: pointer;
}
.menu-bar-fixed .menu-main .fix-menu-text:hover {
  color: #f05223;
}
.menu-bar-fixed .menu-foot {
  margin-top: 5%;
  width: 100%;
  height: 20%;
}
.menu-bar-fixed .menu-foot p {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 2px;
  color: white;
  text-shadow: 0 0 1px #272727;
  transition: 0.5s;
}
.menu-bar-fixed .menu-foot .img-list-media img {
  width: 20px;
  height: 20px;
  border-radius: 7px;
  margin: 5px;
}

.fixed-navbar {
  position: fixed;
  z-index: 8;
  width: 100%;
  padding: 0 10%;
}

.logo-nav-wrapper {
  flex: 5;
}
.logo-nav-wrapper .logo-nav {
  width: 100%;
}

.nav-menu-bar {
  flex: 5;
}
.nav-menu-bar .nav-menu-text {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 15px;
  margin: 0 12px;
  letter-spacing: 2px;
  color: #272727;
  text-shadow: 0 0 1px #272727;
  transition: 0.5s;
  cursor: pointer;
  border-bottom: 4px solid white;
}
.nav-menu-bar .nav-menu-text:hover {
  border-bottom: 4px solid #f05223;
}
.nav-menu-bar .hamburger-btn-nav {
  color: #f05223;
  font-size: 20px;
  letter-spacing: 15px;
  margin: 0 15px;
  transition: 0.7s;
  cursor: pointer;
}
.nav-menu-bar .hamburger-btn-nav:hover {
  transform: scale(1.2);
}

.jumbotron {
  width: 100%;
  height: 700px;
  background-image: url("/assets/img/header/bg-jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.jumbotron .box-wrapper {
  background-color: rgba(46, 52, 54, 0.6862745098);
  height: 700px;
  width: 100%;
  justify-content: center;
}
.jumbotron .box-wrapper .title-jumbotron {
  font-family: "Oswald";
  color: white;
  font-size: 100px;
  text-shadow: 0 0 1px #2e3436;
}
.jumbotron .box-wrapper .text-jumbotron {
  font-size: 23px;
  font-family: "Oswald";
  color: white;
  text-transform: uppercase;
  text-shadow: 0 0 1px #1c1f20;
  letter-spacing: 2px;
  word-spacing: 5px;
}
.jumbotron .box-wrapper .btn-jumbotron {
  font-family: "Montserrat";
  background: none;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 0 1px #1c1f20;
  font-size: 13px;
  padding: 8px 45px;
  transition: 0.5s;
}
.jumbotron .box-wrapper .btn-jumbotron:hover {
  background: #f05223;
  border: 1px solid #f05223;
  font-size: 13px;
  padding: 8px 45px;
}

.mobile-jumbotron {
  display: none;
}
.mobile-jumbotron .title-jumbotron {
  font-family: "Oswald";
  color: white;
  font-size: 100px;
  text-shadow: 0 0 1px #2e3436;
}
.mobile-jumbotron .text-jumbotron {
  font-size: 23px;
  font-family: "Oswald";
  color: white;
  text-transform: uppercase;
  text-shadow: 0 0 1px #1c1f20;
  letter-spacing: 2px;
  word-spacing: 5px;
}
.mobile-jumbotron .btn-jumbotron {
  font-family: "Montserrat";
  background: none;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 0 1px #1c1f20;
  font-size: 13px;
  padding: 8px 45px;
  transition: 0.5s;
}

.body-company {
  width: 100%;
  height: auto;
  padding: 0 10%;
  margin-bottom: 50px;
}
.body-company h2 {
  font-size: 60px;
  font-weight: bold;
  font-family: "Oswald";
  color: #f05223;
}
.body-company .box-about {
  width: 100%;
  height: 500px;
  justify-content: flex-start;
  column-gap: 2%;
}
.body-company .box-about .img-box-company {
  flex-basis: 48%;
  max-width: 48%;
  display: flex;
  align-items: center;
}
.body-company .box-about .img-box-company img {
  max-width: 100%;
  min-width: 100%;
  flex-basis: 100%;
  min-height: 100%;
  max-height: 100%;
  flex: 1;
}
.body-company .box-about .text-box-company {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.body-company .box-about .text-box-company h4 {
  color: #333333;
  font-size: 33px;
  font-family: "Oswald";
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 0 1px #333333;
  letter-spacing: 2px;
}
.body-company .box-about .text-box-company p {
  color: #666666;
  font-size: 16px;
  font-family: "Montserrat";
}
.body-company .box-mission {
  width: 100%;
  height: 600px;
  justify-content: flex-end;
  column-gap: 2%;
}
.body-company .box-mission .img-box-company {
  flex-basis: 48%;
  max-width: 48%;
  display: flex;
  align-items: center;
}
.body-company .box-mission .img-box-company img {
  max-width: 100%;
  min-width: 100%;
  flex-basis: 100%;
  min-height: 100%;
  max-height: 100%;
  flex: 1;
}
.body-company .box-mission .text-box-company {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.body-company .box-mission .text-box-company h4 {
  color: #333333;
  font-size: 33px;
  font-family: "Oswald";
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 0 1px #333333;
  letter-spacing: 2px;
}
.body-company .box-mission .text-box-company p {
  color: #666666;
  font-size: 16px;
  font-family: "Montserrat";
}
.body-company .box-mission .mission-list {
  width: 100%;
}
.body-company .box-mission .mission-list span {
  font-size: 25px;
  color: #f05223;
  padding-right: 25px;
}
.body-company .box-business {
  width: 100%;
  height: 500px;
  justify-content: flex-start;
  column-gap: 2%;
}
.body-company .box-business .img-box-company {
  flex-basis: 48%;
  max-width: 48%;
  display: flex;
  align-items: center;
}
.body-company .box-business .img-box-company img {
  max-width: 100%;
  min-width: 100%;
  flex-basis: 100%;
  min-height: 100%;
  max-height: 100%;
  flex: 1;
}
.body-company .box-business .text-box-company {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.body-company .box-business .text-box-company h4 {
  color: #333333;
  font-size: 33px;
  font-family: "Oswald";
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 0 1px #333333;
  letter-spacing: 2px;
}
.body-company .box-business .text-box-company p {
  color: #666666;
  font-size: 16px;
  font-family: "Montserrat";
}

.body-milestone {
  width: 100%;
  height: 600px;
  background-image: url("/assets/img/body/milestone/bg.png");
  background-size: cover;
  margin-bottom: 100px;
}
.body-milestone h4 {
  color: #333333;
  font-size: 33px;
  font-family: "Oswald";
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 0 1px #333333;
  letter-spacing: 2px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.body-milestone .box-list-icon {
  width: 80%;
  height: 180px;
  justify-content: space-between;
  padding: 0;
}
.body-milestone .box-list-icon .wrap-box-icon {
  height: 100%;
  flex-direction: column;
}
.body-milestone .box-list-icon .wrap-box-icon .box-list-head {
  flex-direction: column;
}
.body-milestone .box-list-icon .wrap-box-icon .box-list-head .bullet-icon {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
}
.body-milestone .box-list-icon .wrap-box-icon .box-list-head .bullet-icon i {
  color: #f05223;
  font-size: 50px;
}
.body-milestone .box-list-icon .wrap-box-icon .box-list-head .active-icon {
  background-color: #f05223;
}
.body-milestone .box-list-icon .wrap-box-icon .box-list-head .active-icon i {
  color: white;
  font-size: 50px;
}
.body-milestone .box-list-icon .wrap-box-icon .box-list-head p {
  margin: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  font-size: 21px;
  color: #333333;
  font-family: "Oswald";
  font-weight: bold;
}
.body-milestone .box-list-icon .wrap-box-icon .box-list-head .bullet-mobile {
  display: none;
}
.body-milestone .box-list-icon .wrap-box-icon .box-list-head .bullet-mobile i {
  display: none;
}
.body-milestone .box-list-icon .wrap-box-icon .box-list-main {
  display: none;
}
.body-milestone .box-text-milistone {
  margin-top: 30px;
  border-radius: 20px;
  width: 80%;
  height: 200px;
  background-color: white;
  padding: 0 2%;
  display: flex;
  align-items: center;
}
.body-milestone .box-text-milistone p {
  text-align: center;
  border-radius: 10px;
  font-size: 21px;
  color: #666666;
  font-family: "Montserrat";
  font-weight: bold;
}

.body-galery {
  width: 90%;
  min-height: 450px;
  height: auto;
  margin: auto 5%;
  margin-bottom: 50px;
}
.body-galery .mobile-galery {
  display: none;
}
.body-galery .slide-galery {
  width: 100%;
  min-height: 600px;
  height: auto;
}
.body-galery h4 {
  color: #333333;
  font-size: 33px;
  font-family: "Oswald";
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 0 1px #333333;
  letter-spacing: 2px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: start;
  margin-left: 5%;
}
.body-galery .box-slide {
  min-height: 600px;
  height: auto;
  width: 95%;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 2%;
}
.body-galery .box-slide img {
  width: 32%;
  max-height: 100%;
  min-height: 100%;
  margin-bottom: 2%;
}
.body-galery .indicator-list-bullet {
  margin-bottom: -50px;
}
.body-galery .btn-slide-side {
  border: none;
  font-size: 40px;
  color: #f05223;
  transition: 0.6s;
  padding: auto 5%;
}
.body-galery .btn-slide-side:hover {
  transform: scale(1.2);
}
.body-galery .bullet-slide {
  background-color: #f05223;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 10px;
}

.body-value {
  width: 100%;
  height: 680px;
  background-color: #e6e6e6;
  padding: 0 10%;
  margin-bottom: 50px;
}
.body-value h2 {
  font-size: 60px;
  font-weight: bold;
  font-family: "Oswald";
  color: #f05223;
}
.body-value .box-value-list {
  width: 200%;
  height: 450px;
  transition: 0.8s;
}
.body-value .box-value-list .box-section-value {
  width: 15%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 5px 0.5 #333333;
  height: 450px;
  margin-right: 1%;
}
.body-value .box-value-list .box-section-value i {
  font-size: 30px;
  color: #f05223;
}
.body-value .box-value-list .box-section-value h4 {
  color: #333333;
  font-size: 33px;
  font-family: "Oswald";
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 0 1px #333333;
  letter-spacing: 2px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: start;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.body-value .box-value-list .box-section-value p {
  font-size: 16px;
  font-family: "Oswald";
  color: #666666;
}
.body-value .box-value-list .box-section-value .text-value-active {
  color: #f05223;
}
.body-value .slide-click-btn {
  width: 100%;
  margin: 20px 0;
  height: 15px;
  box-shadow: 0 0 5px 0.5 #333333;
  display: flex;
}
.body-value .slide-click-btn .btn-value {
  width: 50%;
  height: 100%;
  border: none;
  background-color: white;
  cursor: pointer;
  transition: ease 0.5s;
}
.body-value .slide-click-btn .btn-active-value {
  background-color: #f05223;
}
.body-value .slide-click-btn .btn-value:hover {
  opacity: 0.5;
  background-color: #f05223;
}

.body-testimoni {
  height: 600px;
  width: 100%;
}
.body-testimoni img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.body-testimoni h5 {
  font-size: 20.83;
  font-family: "Oswald";
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}
.body-testimoni h5 span {
  color: #666666;
  font-weight: 100;
}
.body-testimoni h5 .position {
  color: #f05223;
  font-weight: bold;
}
.body-testimoni p {
  text-align: center;
  font-weight: 600;
  width: 60%;
  font-size: 18px;
  color: #666666;
  font-family: "Montserrat";
}
.body-testimoni i {
  font-size: 35px;
  color: #f05223;
  font-weight: bold;
}

.body-career {
  background-color: #f1f1f1;
  width: 100%;
  min-height: 850px;
  padding: 50px 10%;
  margin-bottom: 50px;
}
.body-career .info-career h2 {
  font-size: 60px;
  font-weight: bold;
  font-family: "Oswald";
  color: #f05223;
}
.body-career .info-career .img-career {
  width: 90%;
  min-height: 500px;
  background-image: url("/assets/img/body/career/photo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.body-career .info-career p {
  font-size: 16px;
  color: #666666;
  font-family: "Montserrat";
  font-weight: bold;
}
.body-career .info-career h4 {
  font-size: 36px;
  color: black;
  text-transform: uppercase;
  font-family: "Oswald";
  font-weight: bold;
  text-shadow: 0 0 2px solid black;
}
.body-career .form-career {
  padding-top: 100px;
}
.body-career .form-career .label-form-text {
  font-size: 16px;
  color: #666666;
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: uppercase;
}
.body-career .form-career select {
  text-transform: uppercase;
  overflow: hidden;
}
.body-career .form-career .input-form-style {
  border: none;
  box-shadow: 0 0 2px 0.5 #666666;
  font-size: 16px;
  color: #666666;
  font-family: "Montserrat";
  font-weight: bold;
  resize: none;
  background-color: white;
}
.body-career .form-career .input-form-style option {
  border: none;
  box-shadow: 0 0 2px 0.5 #666666;
  font-size: 16px;
  color: #666666;
  font-family: "Montserrat";
  font-weight: bold;
}
.body-career .form-career .btn-form-career {
  width: 25%;
  height: 40px;
  font-size: 16px;
  font-family: "Montserrat";
  text-align: center;
  background-color: #f05223;
  color: white;
  border: none;
  border-radius: 5px;
  transition: ease 0.6s;
}
.body-career .form-career .btn-form-career:hover {
  transform: scale(1.05);
}
.body-career .form-career .file-style {
  width: 70%;
  height: 40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.body-career .form-career .input-btn-file {
  width: 30%;
  height: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 16px;
  font-family: "Montserrat";
  background-color: #f05223;
  color: white;
  cursor: pointer;
  transition: ease 0.6s;
}
.body-career .form-career .input-btn-file:hover {
  transform: scale(1.05);
}

.body-contact {
  height: 450px;
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  padding: 0 10%;
}
.body-contact .contact-form {
  flex: 1;
  height: 450px;
  width: 50%;
}
.body-contact .contact-form h2 {
  font-size: 60px;
  font-weight: bold;
  font-family: "Oswald";
  color: #f05223;
}
.body-contact .contact-form p {
  font-size: 16px;
  color: #666666;
  font-family: "Montserrat";
  text-shadow: 0 0 1px black;
}
.body-contact .contact-form form input, .body-contact .contact-form form textarea {
  border: none;
  box-shadow: 0 0 2px #666666;
  font-size: 16px;
  text-shadow: 0 0 1px black;
  color: #666666;
  font-family: "Montserrat";
  resize: none;
  background-color: white;
}
.body-contact .contact-form form button {
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-family: "Montserrat";
  text-align: center;
  background-color: #f05223;
  color: white;
  border: none;
  border-radius: 5px;
  transition: ease 0.6s;
}
.body-contact .contact-form form button:hover {
  transform: scale(1.05);
}
.body-contact .contact-img {
  width: 50%;
  padding-left: 5%;
  flex: 1;
  display: flex;
  height: 450px;
}
.body-contact .contact-img h2 {
  display: none;
  font-size: 60px;
  font-weight: bold;
  font-family: "Oswald";
  color: #f05223;
}
.body-contact .contact-img img {
  max-width: 100%;
  flex-basis: 100%;
}

footer {
  width: 100%;
  height: 800px;
}
footer .footer-main {
  width: 100%;
  height: 700px;
  padding: 100px 10%;
  background-color: #0f0e0e;
}
footer .footer-main .footer-main-info {
  height: 100%;
}
footer .footer-main .footer-main-info .footer-logo {
  width: 150px;
  height: 150px;
}
footer .footer-main .footer-main-info h5 {
  font-size: 16px;
  font-family: "Oswald";
  color: #f05223;
  font-weight: bold;
  text-shadow: 0 0 1px black;
  letter-spacing: 1px;
}
footer .footer-main .footer-main-info section {
  flex: 1;
  display: flex;
}
footer .footer-main .footer-main-info .img-list-media {
  margin-left: 15%;
}
footer .footer-main .footer-main-info .img-list-media img {
  width: 35px;
  height: 35px;
  border-radius: 10px;
}
footer .footer-main .footer-main-info p {
  font-size: 16px;
  font-family: "Montserrat";
  color: white;
  text-shadow: 0 0 1px black;
  font-weight: 400;
}
footer .footer-main .footer-main-info .border-phone {
  border-bottom: 1px solid white;
}
footer .footer-main .footer-main-map p {
  font-size: 16px;
  font-family: "Montserrat";
  color: white;
  font-weight: 400;
  text-shadow: 0 0 1px black;
  text-transform: uppercase;
}
footer .footer-main .footer-main-map .img-box {
  margin-top: 50px;
  height: 370px;
  width: 100%;
}
footer .footer-main .footer-main-map .img-box div {
  width: 100%;
  height: 100%;
}
footer .footer-main .footer-main-map .img-box div iframe {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}
footer .footer-main .footer-main-img p {
  font-size: 16px;
  font-family: "Montserrat";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
footer .footer-main .footer-main-img .img-box-list {
  margin-top: 50px;
  height: 370px;
  width: 100%;
}
footer .footer-main .footer-main-img .img-box-list .footer-wrap-img {
  height: 370px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .footer-main .footer-main-img .img-box-list .footer-wrap-img img {
  max-width: 32%;
  flex-basis: 32%;
  height: 32.5%;
  margin-bottom: 1%;
}
footer .footer-main .footer-main-img span {
  font-size: 13px;
  font-family: "Montserrat";
  color: #f05223;
  text-shadow: 0 0 1px black;
  cursor: pointer;
}
footer .footer-main .footer-main-img .border-media {
  display: none;
}
footer .footer-foot {
  width: 100%;
  height: 100px;
  padding: 0 10%;
}
footer .footer-foot p {
  color: #414040;
  font-size: 13px;
  font-family: "Montserrat";
}

@media screen and (max-width: 990px) {
  * {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .fixed-navbar {
    padding: 0;
  }
  .navbar-nav {
    display: none;
  }
  .jumbotron {
    max-width: 100%;
  }
  .jumbotron .box-wrapper {
    justify-content: end;
  }
  .jumbotron .box-wrapper section {
    display: none;
    background-color: #2e3436;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 60px;
    margin-bottom: -200px;
  }
  .mobile-jumbotron {
    display: block;
    background-color: #2e3436;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 60px;
    margin-bottom: 50px;
  }
  .mobile-jumbotron .title-jumbotron {
    font-size: 70px;
  }
  .mobile-jumbotron .text-jumbotron {
    font-size: 24px;
    text-shadow: 0 0 1px white;
    letter-spacing: 2px;
  }
  .mobile-jumbotron .btn-jumbotron {
    border: none;
    font-size: 20px;
    letter-spacing: 1px;
  }
  .body-company {
    padding: 0;
  }
  .body-company h2 {
    font-size: 35px;
  }
  .body-company .box-about {
    width: 100%;
    min-height: 500px;
    height: auto;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .body-company .box-about .img-box-company {
    margin-bottom: 50px;
    flex-basis: 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
  }
  .body-company .box-about .img-box-company img {
    max-width: 100%;
    flex-basis: 100%;
    max-height: 100%;
    min-height: 700px;
    flex: 1;
  }
  .body-company .box-about .text-box-company {
    flex-basis: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 0 5%;
  }
  .body-company .box-mission {
    width: 100%;
    min-height: 500px;
    height: auto;
    flex-direction: column-reverse;
    margin-bottom: 50px;
  }
  .body-company .box-mission .img-box-company {
    margin-bottom: 50px;
    flex-basis: 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
  }
  .body-company .box-mission .img-box-company img {
    max-width: 100%;
    flex-basis: 100%;
    max-height: 100%;
    min-height: 700px;
    flex: 1;
  }
  .body-company .box-mission .text-box-company {
    flex-basis: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 0 5%;
  }
  .body-company .box-business {
    width: 100%;
    min-height: 500px;
    height: auto;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .body-company .box-business .img-box-company {
    margin-bottom: 50px;
    flex-basis: 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
  }
  .body-company .box-business .img-box-company img {
    max-width: 100%;
    flex-basis: 100%;
    max-height: 100%;
    min-height: 700px;
    flex: 1;
  }
  .body-company .box-business .text-box-company {
    flex-basis: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 0 5%;
  }
  .body-galery {
    margin-bottom: 20px;
  }
  .body-galery .web-galery {
    display: none;
  }
  .body-galery .mobile-galery {
    display: block;
  }
  .body-galery .slide-galery {
    width: 100%;
    flex-direction: column;
  }
  .body-galery .slide-galery .box-slide {
    justify-content: flex-start;
    min-height: 400px;
    overflow-y: hidden;
  }
  .body-galery .slide-galery .box-slide img {
    width: 100%;
    height: 100%;
    margin-bottom: 2%;
  }
  .body-galery .slide-galery .box-btn-galery {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  .body-galery .btn-slide-side {
    border: none;
    font-size: 35px;
    width: 50px;
    height: 50px;
    color: white;
    background-color: #f05223;
    transition: 0.6s;
    padding: auto 5%;
    border-radius: 50%;
    margin: 10px;
  }
  .body-milestone {
    background-image: none;
    background-color: rgba(240, 83, 35, 0.0941176471);
    min-height: 180px;
    height: auto;
    padding-bottom: 50px;
  }
  .body-milestone .box-list-icon {
    min-height: 180px;
    height: auto;
    display: flex;
    overflow-y: hidden;
  }
  .body-milestone .box-list-icon .wrap-box-icon {
    height: 60px;
    width: 100%;
    background-color: #f05223;
    border-radius: 15px;
    flex-direction: row;
    margin-bottom: 30px;
  }
  .body-milestone .box-list-icon .wrap-box-icon .box-list-head {
    flex-direction: row;
  }
  .body-milestone .box-list-icon .wrap-box-icon .box-list-head .bullet-icon {
    flex: 1;
    height: 100%;
    border-radius: 50%;
    background-color: #f05223;
    justify-content: flex-start;
  }
  .body-milestone .box-list-icon .wrap-box-icon .box-list-head .bullet-icon i {
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  .body-milestone .box-list-icon .wrap-box-icon .box-list-head p {
    height: 100%;
    background-color: #f05223;
    display: flex;
    align-items: center;
    flex: 7;
    width: auto;
    color: white;
    margin-left: 20px;
  }
  .body-milestone .box-list-icon .wrap-box-icon .box-list-head .bullet-mobile {
    display: block;
    flex: 0.5;
    justify-content: center;
  }
  .body-milestone .box-list-icon .wrap-box-icon .box-list-head .bullet-mobile i {
    display: block;
    color: white;
    font-size: 20px;
  }
  .body-milestone .box-list-icon .wrap-box-active {
    min-height: 300px;
    height: auto;
    flex-direction: column;
    background-color: white;
  }
  .body-milestone .box-list-icon .wrap-box-active .box-list-head {
    width: 100%;
    flex: 1;
    min-height: 60px;
    max-height: 60px;
    border-bottom: 1px solid #f05223;
  }
  .body-milestone .box-list-icon .wrap-box-active .box-list-head .bullet-icon {
    background-color: white;
  }
  .body-milestone .box-list-icon .wrap-box-active .box-list-head .bullet-icon i {
    color: #f05223;
    font-size: 20px;
  }
  .body-milestone .box-list-icon .wrap-box-active .box-list-head p {
    background-color: white;
    color: #333333;
  }
  .body-milestone .box-list-icon .wrap-box-active .box-list-head .bullet-mobile {
    background-color: white;
  }
  .body-milestone .box-list-icon .wrap-box-active .box-list-head .bullet-mobile i {
    color: #f05223;
    font-size: 20px;
  }
  .body-milestone .box-list-icon .wrap-box-active .box-list-main {
    display: block;
    width: 100%;
    flex: 4;
  }
  .body-milestone .box-list-icon .wrap-box-active .box-list-main p {
    padding-top: 10px;
    color: #666666;
    font-size: 16px;
    font-family: "Montserrat";
  }
  .body-milestone .box-text-milistone {
    background-color: red;
    display: none;
  }
  .body-milestone .box-text-milistone p {
    display: none;
  }
  .body-value {
    height: auto;
    padding-bottom: 40px;
  }
  .body-value h2 {
    font-size: 35px;
  }
  .body-value .box-value-list {
    overflow: unset;
    width: 300%;
  }
  .body-value .box-value-list .box-section-value {
    width: 30%;
    overflow-y: hidden;
  }
  .body-testimoni {
    overflow: hidden;
    min-height: 400px;
    height: auto;
    margin: 50px 0;
  }
  .body-testimoni p {
    padding: 0 5%;
    width: 100%;
  }
  .body-testimoni h5 {
    overflow-y: hidden;
  }
  .body-career {
    padding: 50px 5%;
  }
  .body-career .info-career h2 {
    font-size: 35px;
  }
  .body-career .info-career .img-career {
    width: 100%;
    min-height: 700px;
    max-height: 100%;
  }
  .body-career .info-career h4 {
    overflow-y: hidden;
    font-size: 28px;
  }
  .body-career .form-career {
    padding-top: 50px;
  }
  .body-contact {
    min-height: 450px;
    height: auto;
    padding: 0;
    flex-direction: column-reverse;
  }
  .body-contact .contact-form {
    height: auto;
    width: 100%;
    min-height: 450px;
    padding: 0 5%;
  }
  .body-contact .contact-form h2 {
    display: none;
  }
  .body-contact .contact-form p {
    padding-top: 20px;
  }
  .body-contact .contact-form form input, .body-contact .contact-form form textarea {
    margin: 10px 0;
  }
  .body-contact .contact-img {
    width: 100%;
    flex: 1;
    flex-direction: column;
    padding-left: 0;
  }
  .body-contact .contact-img h2 {
    padding: 0 5%;
    display: block;
    font-size: 35px;
  }
  .body-contact .contact-img img {
    min-height: 700px;
  }
  footer {
    min-height: 800px;
    height: auto;
  }
  footer .footer-main {
    min-height: 700px;
    padding: 50px 5%;
    height: auto;
  }
  footer .footer-main .footer-main-info .border-phone {
    padding-bottom: 20px;
  }
  footer .footer-main .footer-main-info section {
    display: none;
  }
  footer .footer-main .footer-main-info h5 {
    overflow-y: hidden;
  }
  footer .footer-main .footer-main-img {
    height: auto;
    margin-top: 50px;
    padding-bottom: 20px;
  }
  footer .footer-main .footer-main-img .border-media {
    display: block;
    margin-top: 30px;
    border-top: 1px solid white;
    padding-bottom: 30px;
  }
  footer .footer-main .footer-main-img .border-media h5 {
    padding: 30px 0;
    font-size: 16px;
    font-family: "Oswald";
    color: #f05223;
    font-weight: bold;
    text-shadow: 0 0 1px black;
    letter-spacing: 1px;
  }
  footer .footer-main .footer-main-img .border-media .img-list-media {
    width: 100%;
  }
  footer .footer-main .footer-main-img .border-media .img-list-media img {
    width: 35px;
    height: 35px;
    border-radius: 10px;
  }
  footer .footer-main .footer-main-img .img-box-list {
    margin-bottom: 20px;
  }
  footer .footer-main .footer-main-img span {
    margin-top: 20px;
  }
  footer .footer-main-map {
    height: auto;
    margin-top: 50px;
  }
  footer .footer-foot {
    padding: 0;
    text-align: center;
    justify-content: center;
  }
  footer .footer-foot p {
    width: 100%;
    text-align: center;
  }
  .menu-bar-fixed {
    width: 50%;
    height: 100%;
    z-index: 15;
  }
}
@media screen and (max-width: 770px) {
  .body-testimoni p {
    font-size: 16px;
  }
  .body-value .box-value-list .box-section-value h4 {
    color: #333333;
    font-size: 25px;
    font-family: "Oswald";
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 0 1px #333333;
    letter-spacing: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: start;
  }
  .body-value .box-value-list .box-section-value p {
    font-size: 14px;
  }
  .menu-bar-fixed {
    width: 100%;
    height: 100%;
    z-index: 15;
  }
}
@media screen and (max-width: 600px) {
  .fixed-navbar {
    position: fixed;
    z-index: 8;
    width: auto;
  }
  .jumbotron .box-wrapper .text-jumbotron {
    font-size: 15px;
  }
  .jumbotron .box-wrapper .title-jumbotron {
    font-size: 40px;
  }
  .jumbotron .box-wrapper .btn-jumbotron {
    font-size: 18px;
  }
  .mobile-jumbotron .text-jumbotron {
    font-size: 15px;
  }
  .mobile-jumbotron .title-jumbotron {
    font-size: 40px;
    overflow-y: hidden;
  }
  .mobile-jumbotron .btn-jumbotron {
    font-size: 18px;
  }
  .body-company h2 {
    font-size: 30px;
  }
  .body-testimoni p {
    font-size: 16px;
  }
  .body-company .box-about {
    width: 100%;
    min-height: 500px;
    height: auto;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .body-company .box-about .img-box-company {
    margin-bottom: 50px;
    flex-basis: 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
  }
  .body-company .box-about .img-box-company img {
    max-width: 100%;
    flex-basis: 100%;
    max-height: 100%;
    min-height: 100%;
    background-position: center center;
    flex: 1;
  }
  .body-company .box-about .text-box-company {
    flex-basis: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 0 5%;
  }
  .body-company .box-about .text-box-company h4 {
    color: #333333;
    font-size: 25px;
    font-family: "Oswald";
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 0 1px #333333;
    letter-spacing: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: start;
  }
  .body-company .box-about .text-box-company p {
    font-size: 14px;
  }
  .body-company .box-mission {
    width: 100%;
    min-height: 500px;
    height: auto;
    flex-direction: column-reverse;
    margin-bottom: 50px;
  }
  .body-company .box-mission .img-box-company {
    margin-bottom: 50px;
    flex-basis: 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
  }
  .body-company .box-mission .img-box-company img {
    max-width: 100%;
    flex-basis: 100%;
    max-height: 100%;
    min-height: 100%;
    background-position: center center;
    flex: 1;
  }
  .body-company .box-mission .text-box-company {
    flex-basis: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 0 5%;
  }
  .body-company .box-mission .text-box-company h4 {
    color: #333333;
    font-size: 25px;
    font-family: "Oswald";
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 0 1px #333333;
    letter-spacing: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: start;
  }
  .body-company .box-mission .text-box-company p {
    font-size: 14px;
  }
  .body-company .box-business {
    width: 100%;
    min-height: 500px;
    height: auto;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .body-company .box-business .img-box-company {
    margin-bottom: 50px;
    flex-basis: 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
  }
  .body-company .box-business .img-box-company img {
    max-width: 100%;
    flex-basis: 100%;
    max-height: 100%;
    min-height: 100%;
    background-position: center center;
    flex: 1;
  }
  .body-company .box-business .text-box-company {
    flex-basis: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 0 5%;
  }
  .body-company .box-business .text-box-company h4 {
    color: #333333;
    font-size: 25px;
    font-family: "Oswald";
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 0 1px #333333;
    letter-spacing: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: start;
  }
  .body-company .box-business .text-box-company p {
    font-size: 14px;
  }
  .body-milestone {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .body-milestone h4 {
    color: #333333;
    font-size: 25px;
    font-family: "Oswald";
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 0 1px #333333;
    letter-spacing: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
  }
  .body-milestone .box-list-icon .wrap-box-icon > .box-list-head > p {
    font-size: 14px;
  }
  .body-milestone .box-list-icon .wrap-box-active > .box-list-main > p {
    font-size: 14px;
  }
  .body-galery {
    min-height: 400px;
    margin: 50px auto;
  }
  .body-galery .slide-galery {
    min-height: 400px;
    height: 100%;
  }
  .body-galery .box-slide {
    height: 350px;
  }
  .body-galery h4 {
    color: #333333;
    font-size: 25px;
    font-family: "Oswald";
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 0 1px #333333;
    letter-spacing: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: start;
  }
  .body-galery .btn-slide-side {
    width: 40px;
    height: 40px;
    font-size: 25px;
  }
  .body-career .info-career h4 {
    font-size: 20px;
  }
  .body-career .info-career p {
    font-size: 14px;
  }
  .body-career .info-career .img-career {
    width: 100%;
    min-height: 500px;
    max-height: 100%;
  }
  .body-career .form-career .label-form-text {
    font-size: 14px;
  }
  .body-career .form-career .input-form-style {
    font-size: 14px;
  }
  .body-career .form-career .input-form-style option {
    font-size: 14px;
  }
  .body-contact .contact-form p {
    font-size: 14px;
  }
  .body-contact .contact-form input {
    font-size: 14px;
  }
  .body-contact .contact-img img {
    min-height: 100%;
    height: auto;
  }
  .body-value .box-value-list {
    width: 300%;
  }
  .body-value .box-value-list .box-section-value {
    width: 300px;
    min-width: 25%;
    margin: 0 0.5%;
  }
  .body-value .box-value-list .box-section-value h4 {
    color: #333333;
    font-size: 25px;
    font-family: "Oswald";
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 0 1px #333333;
    letter-spacing: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: start;
  }
  .body-value .box-value-list .box-section-value p {
    font-size: 14px;
  }
}

/*# sourceMappingURL=index.css.map */
